<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:700,800&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/png" href="images/icon/favicon.png" />
    <link rel="stylesheet" href="glider.js/glider.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Safe Ride</title>
  </head>
  <body>
    {% include "modules/header.html" %} {% include "modules/about.html" %} {%
    include "modules/functions.html" %} {% include "modules/application.html" %}
    {% include "modules/contact.html" %}
    <script src="glider.js/glider.js"></script>
    <script src="index.js"></script>
  </body>
</html>
