.app {
  position: relative;
  @media (min-width: $desktop-width) {
    height: 1200px;
  }

  &__logo {
    @media (min-width: $mobile-width) {
      text-align: center;
      margin-bottom: 150px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 200px;
    }

    .app__header {
      @media (min-width: $mobile-width) {
        margin: 0 20px;
        font-size: $font-h2;
      }

      @media (min-width: $tablet-width) {
        font-size: $font-h1;
        margin: 0;
      }
    }
  }

  &__container {
    @media (min-width: $mobile-width) {
      background-color: $blue;
    }

    @media (min-width: $tablet-width) {
      margin: 0 50px;
      padding: 100px 50px;
    }

    @media (min-width: $desktop-width) {
      width: 70%;
      height: 650px;
      display: flex;
      align-items: center;
      position: absolute;
      left: 100px;
      margin: 0 100px 0 0;
      padding: 100px;
    }
  }

  &__img {
    @media (min-width: $mobile-width) {
      height: 600px;
    }

    @media (min-width: $desktop-width) {
      width: 40%;
      position: absolute;
      top: 200px;
      right: -20%;
      overflow: hidden;
    }

    .appImg__container {
      @media (min-width: $mobile-width) {
        width: 100%;
        height: 100%;
        background-image: url("../images/application/profile.png");
        background-position: center;
        background-size: cover;
      }
    }
  }

  &__info {
    @media (min-width: $mobile-width) {
      padding: 100px 20px;
    }

    @media (min-width: $tablet-width) {
      padding: 0 50px;
      margin-top: 100px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      padding: 0;
      width: 60%;
    }

    .app__subtitle {
      @media (min-width: $mobile-width) {
        font-size: $font-h3;
        margin-bottom: 30px;
      }

      @media (min-width: $tablet-width) {
        font-size: $font-h2;
        margin-bottom: 50px;
      }

      @media (min-width: $desktop-width) {
        white-space: nowrap;
      }
    }

    .app__paragraph {
      @media (min-width: $mobile-width) {
        line-height: 35px;
      }

      @media (min-width: $tablet-width) {
        font-size: $font-h5;
      }
    }
  }
}
