.header {
  width: 100vw;
  height: 100vh;

  &__nav {
    @media (min-width: $mobile-width) {
      width: 100%;
      height: 100%;
      position: relative;
      transition: background-color 0.4s ease-in-out;
    }

    @media (min-width: $tablet-width) {
      height: auto;
      display: flex;
      justify-content: space-between;
      position: static;
      padding: 40px;
      transition: none;
    }

    .nav__logo {
      @media (min-width: $mobile-width) {
        position: absolute;
        top: $base-unit * 2;
        left: $base-unit * 1.5;
        opacity: 1;
      }

      @media (min-width: $tablet-width) {
        position: static;
      }

      .logo__img {
        @media (min-width: $mobile-width) {
          width: $logo-width * 0.4;
          height: $logo-height * 0.4;
        }

        @media (min-width: $tablet-width) {
          width: $logo-width * 0.5;
          height: $logo-height * 0.5;
          transition: all 0.5s linear;
        }
      }
    }

    .nav__menu {
      @media (min-width: $mobile-width) {
        height: 100%;
        position: relative;
        opacity: 0;
        text-align: center;
        transition: opacity 0.2s ease-in-out;
      }

      @media (min-width: $tablet-width) {
        height: auto;
        position: static;
        opacity: 1;
        text-align: left;
      }

      .menu__list {
        @media (min-width: $mobile-width) {
          position: absolute;
          top: 55%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        @media (min-width: $tablet-width) {
          position: static;
          transform: none;
        }

        .list__item {
          @media (min-width: $mobile-width) {
            z-index: 1;
            position: relative;
            margin: 80px 20px;

            &::after {
              content: "";
              z-index: -1;
              width: 320px;
              height: 30px;
              position: absolute;
              left: 50%;
              bottom: -10px;
              transform: translateX(-50%);
              background-color: $blue;
            }
          }

          @media (min-width: $tablet-width) {
            z-index: 0;
            position: static;
            display: inline-block;
            margin: 0 0 0 20px;

            &::after {
              content: none;
            }
          }

          @media (min-width: $mdesktop-width) {
            margin: 0 0 0 50px;
          }

          .list__link {
            @media (min-width: $mobile-width) {
              position: relative;
              font-family: $base-font;
              font-size: $font-h4;
              font-weight: $bold;
              color: $black;
              text-decoration: none;
              white-space: nowrap;
            }

            @media (min-width: $tablet-width) {
              font-size: $base-unit;
              transition: all 0.5s linear;

              &::after {
                content: "";
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: -2px;
                left: 0;
                background-color: $black;
                transform: scaleX(0);
                transition: transform 0.5s ease;
              }

              &:hover::after {
                transform: scaleX(1);
              }
            }

            @media (min-width: $desktop-width) {
              font-size: $font-h5;
            }
          }
        }
      }
    }

    .nav__hamburger {
      @media (min-width: $mobile-width) {
        width: 40px;
        height: 30px;
        position: absolute;
        top: $base-unit * 3.5;
        right: $base-unit * 1.5;
        cursor: pointer;
      }

      @media (min-width: $tablet-width) {
        display: none;
      }

      .hamburger__line {
        @media (min-width: $mobile-width) {
          width: 40px;
          height: 4.5px;
          position: absolute;
          opacity: 1;
          background-color: $black;
          transition: 0.25s ease-in-out;

          &--first {
            top: 0;
            transform-origin: left center;
          }

          &--second {
            top: 50%;
            transform: translateY(-50%);
            transform-origin: left center;
          }

          &--third {
            bottom: 0;
            transform-origin: left center;
          }
        }
      }
    }

    &--open {
      @media (min-width: $mobile-width) {
        background-color: $white;

        .nav__logo {
          .logo__img {
            opacity: 0;
          }
        }

        .nav__menu {
          opacity: 1;
        }

        .nav__hamburger {
          .hamburger__line--first {
            top: -2px;
            transform: rotate(45deg);
          }

          .hamburger__line--second {
            width: 0;
            opacity: 0;
          }

          .hamburger__line--third {
            bottom: -1px;
            transform: rotate(-45deg);
          }
        }
      }
    }

    &--fixed {
      @media (min-width: $tablet-width) {
        z-index: 99;
        align-items: center;
        position: fixed;
        padding: 10px 40px;
        background-color: rgba(255, 255, 255, 0.9);

        .nav__logo {
          .logo__img {
            width: $logo-width * 0.2;
            height: $logo-height * 0.2;
            opacity: 1;
          }
        }

        .nav__menu {
          .menu__list {
            .list__item {
              .list__link {
                font-size: $base-unit;

                &::after {
                  height: 1px;
                }
              }
            }
          }
        }
      }
    }
  }

  &__video {
    z-index: -99;
    @media (min-width: $mobile-width) {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      overflow: hidden;
    }

    .video__vid {
      @media (min-width: $mobile-width) {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }
  }
}
