*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $header-font;
  font-weight: $extra-bold;
}

h1 {
  font-size: $font-h1;
}

h2 {
  font-size: $font-h2;
}

h3 {
  font-size: $font-h3;
}

h4 {
  font-size: $font-h4;
}

h5 {
  font-size: $font-h5;
}

h1,
h2 {
  z-index: 1;
  display: inline-block;
  position: relative;
}

h1::after,
h2::after {
  content: "";
  z-index: -1;
  width: 60%;
  height: 30px;
  position: absolute;
  right: -20px;
  bottom: -5px;
  background-color: $blue;
}

p {
  font-family: $base-font;
}

label {
  font-family: $base-font;
}

.section {
  @media (min-width: $mobile-width) {
    padding-top: 100px;
    margin-bottom: 50px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 100px;
    margin-bottom: 100px;
  }
}
