$base-unit: 16px;

$font-h1: $base-unit * 5.653;
$font-h2: $base-unit * 3.998;
$font-h3: $base-unit * 2.827;
$font-h4: $base-unit * 1.999;
$font-h5: $base-unit * 1.414;
$font-body: $base-unit;

$base-font: "Open Sans", sans-serif;
$header-font: "Raleway", sans-serif;

$regular: 400;
$bold: 700;
$extra-bold: 800;

$white: #fff;
$black: #000;
$blue: #e7f8ff;

$mobile-width: 360px;
$tablet-width: 768px;
$desktop-width: 1024px;
$ldesktop-width: 1920px;
