$base-unit: 16px;

$font-h1: $base-unit * 4.209;
$font-h2: $base-unit * 3.157;
$font-h3: $base-unit * 2.369;
$font-h4: $base-unit * 1.777;
$font-h5: $base-unit * 1.333;
$font-body: $base-unit;

$base-font: "Open Sans", sans-serif;
$header-font: "Raleway", sans-serif;

$regular: 400;
$bold: 700;
$extra-bold: 800;

$white: #fff;
$black: #000;
$blue: #d5f6ff;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$mdesktop-width: 1366px;

$logo-width: 420px;
$logo-height: 225px;
